*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Tangerine-Bold;
    src: url('Fuentes/Tangerine_Bold.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('Fuentes/Roboto-Bold.ttf');
}
@font-face {
    font-family: StarWars;
    src: url('Fuentes/SFDistantGalaxyAlternate-It.ttf');
}

.Grid-Contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 1rem;
    padding: 2rem;
    background: linear-gradient(to bottom right,#70171b, #f6f7f9 200%);
}

header{
    grid-column: 1/-1;
    grid-row: 1;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header > #IconoUsuario{
    font-size: 6em;
}
header > h1{
    font-family: Tangerine-Bold;
    font-size: 5em;
}
header > h2{
    font-family: Tangerine-Bold;
    font-size: 3em;
}

aside{
    grid-column: 1;
    grid-row: 2/5;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.demo-card-image.mdl-card {
    width: 70%;
    height: 100%;
    margin: auto;
    background: url('Img/Foto.jpg') center / cover;
    -webkit-box-shadow: -15px -14px 9px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px -14px 9px -5px rgba(0,0,0,0.75);
    box-shadow: -15px -14px 9px -5px rgba(0,0,0,0.75);
}
.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: #3f424b;
}
.demo-card-image__filename {
    color: #f1f1f1f1;
    font-size: 1.5em;
    font-weight: 500;
    font-family: Roboto-Bold;
}


section{
    grid-column: 2;
    grid-row: 2/5;
}
section > article{
    border-bottom: black 3px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-family: Roboto-Bold;
}
section > article > h3{
    text-align: left;
    font-family: Roboto-Bold;
}
.iconoInformacion{
    font-size: 1em;
    margin-left: 0.3em;
}

section > article > table{
    margin: auto;
    margin: 2em auto;
    width: 90%;
    font-family: Roboto-Bold;
}
section > article > table > thead{
    text-align: left;
    font-size: 1em;
}
section > article > table > tbody > tr{
    text-align: left;
    font-size: 1em;
    padding: 100px;
}
table thead tr th{
    padding: 1em;
}
.demo-list-item span{
    width: 100%;
    font-family: Roboto-Bold;
}
.mdl-list__item-primary-content{
    text-align: left;
}

.Lista{
    width: 90%;
    margin: 1em 2em;
    text-align: left;
    font-size: 1.3em;
}

footer{
    grid-column: 1/-1;
    grid-row: 5;
    border-top: black 5px solid;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h3, footer h4{
    font-family: StarWars;
}